/* Main Content Styles */
.main-content {
  flex-grow: 1;
  /* padding: 20px; */
  transition: margin-left 0.3s ease;
  /* padding-left: 30px; */
}

.main-content h3{
  font-size: 18px;
}
/* Dashboard Layout */
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}

.dashboard-card {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  margin-left: 0;
}

.dashboard-card h6 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
}

.main-content .chart-container{
  background: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 20px);
  height: auto;
}

.dropdown #monthYearSelect{
  /* padding: 10px; */
  font-size: 12px;
}
.dropdown{
  align-self: self-end;
  margin-left: auto;
}
/* Responsive Design */
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

/* chart responsive */
@media (max-width: 768px) {
  .chart-container {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}