/* Default body, font styles , etc*/
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

/* Top Header styles */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: 333;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* header line */
    border-bottom: 1px solid #ddd;
    font-weight: 300;
  }
  
  /* Hamburger menu */
  .hamburger-menu, a {
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* remove style in a */
    text-decoration: none;
    color: #333;
  }
  /* Space between menu and span */
  .hamburger-menu span {
    margin-left: 10px;
    font-weight: bold;
  }
  
  /* User settings */
  .user-settings {
    display: flex;
    align-items: center;
  }
  
  .user-settings{
    color: #333;
    padding: 5px;
    /* size */
    font-size: 14px;
    cursor: pointer;
  }
  
  .user-settings i{
    /* size */
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
  }

  .user-settings img{
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .user-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .user-name {
    color: white;
    font-size: 16px;
  }
  
  /* Side navigation styles */
  .side-nav {
    position: absolute;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: calc(95% - 50px);
    /* height: 100%; */
    background-color: #fff;
    transition: 0.3s;
    z-index: 999;
    /* Right line */
    border-right: 1px solid #ddd;
    border-radius: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .side-nav.active {
    left: 0; /* When active, show the side nav */
  }
  
  .side-nav ul {
    list-style-type: none;  
    padding: 0;
  }
  
  .side-nav ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #444;
  }
  
  .side-nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    display: block;
  }

  .side-nav i{
    padding-right: 10px;
  }

  /* side nav i */
  .side-nav ul li:hover {
    background-color: #f4f4f4fb;
    /* move to right */
    padding-left: 30px;
    transition: 0.3s; 
  }
  
  /* fa-bell */
  .fa-bell {
    position: relative;
    margin-right: auto;
  }
/* center content */
.content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#logoutModal-x{
  display: none;
  position: absolute;
  z-index: 1000;
  right: 0;
  width: 15%;
  height: auto;
  overflow: auto;
  background-color: #fff;
  /* shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  /* cursor */
  cursor: pointer;
}

#logoutModal-x .first-row{
  display: flex;
  justify-content:last baseline;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}

#logoutModal-x .first-row .x-p{
  padding: 5px !important;
  font-size: 12px !important;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 10px;
}

/* hover */
.first-row:hover{
  background-color: #f4f4f4;
}

/* x-title */
.x-title h5{
  font-size: 14px;
  margin-top: 20px;
  font-weight:700;
}

/* sideNav active class */
.side-nav .active {
  /* text color */
  color: #333;
  font-weight: 700;
}