.container-header{
    display: flex;
    justify-content: space-between;
}

.container-header i{
    font-size: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.flex-container label {
    flex: 1;
}

.flex-container input, option {
    flex: 2;
    font-size: 12px;
}

.modal-footer button{
    font-size: 12px;
}

#CreateUserForm{
    font-size: 12px;
}

.flex-container select{
    font-size: 12px;
    flex: 2;
}